<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Green Goodies
			{% endblock %}
		</title>
		{% block javascripts %}
   {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}
	</head>
		<body>
			{% include "layouts/navbar.html.twig" %}
			<main>
				{% block body %}{% endblock %}
			</main>

			{% include "layouts/footer.html.twig" %}
		</body>
	</html>
